html, body {
    height: 100%;
}
body.fullscreen-page {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Yukarı aşağı scroll yok */
}
#map {
    height: 100vh;
    width: 100vw;
    z-index: 0;
    
}

.top-bar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 14px 24px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-weight: 600;
    z-index: 1000;
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 14px;
    cursor: pointer;
    font-weight: 600;
    z-index: 1000;
}

.bottom-nav {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 420px;
    padding: 10px 0;
    z-index: 1000;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #555;
    cursor: pointer;
}

    .nav-item.active {
        color: black;
        font-weight: 600;
    }
