.profil-container {
    padding: 100px 20px 120px;
    text-align: center;
}

.profil-card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: auto;
}

    .profil-card h3 {
        margin-bottom: 10px;
    }

.logout-btn {
    margin-top: 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    cursor: pointer;
}

.bottom-nav {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
